#mapid {
    height: 90%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.legend {
    display: block; 
	padding-left: 10px; 
	padding-right: 10px; 
	border: 3px solid green; 
	background-color:tomato;;
}

/* #displayArea {background:#fff; border:1px solid #ccc;padding:5px;float:left;width:auto;display:none;position:absolute;top:0} */

.focusArea {
    cursor: pointer;
}

/*
map util styles
*/

#topology-panel {
    background-color:white;
    padding: 15px;
    box-shadow: 
         inset 0 -3em 3em rgba(0,0,0,0.1), 
               /* 0 0  0 2px rgb(255,255,255), */
               0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.mainmap-util-closebtn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    color: black;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.mainmap-util-btn {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 3px;
    font: 75 12pt "Bahnschrift Condensed";
    /* border: 1px solid black; */
    /* min-width: 80px; */
    /* border: none; */
    background-color: #bca9e9;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    /* border-color:gray; */
    /* border-radius: 25px; */
}

.mainmap-util-btn:hover {
    background-color: #6088C6;
}

.mainmap-util-btn:flat {
    border: none;
    /* no border for a flat push button */
}

.mainmap-util-btn:default {
    border-color: navy;
    /* make the default button prominent */
}

.mainmap-util-input {
    border: 1px solid gray;
    /* border-radius: 10px; */
    /* padding: 0 8px; */
    background: white;
    /* selection-background-color: darkgray;  */
    font: 10pt;
}

.mainmap-util-label {
    padding-top: 4px;
    padding-bottom: 1px;
    font: 10pt "Bahnschrift";
}

.vertical {
    /* float: right; */
    /* background-color: antiquewhite; */
    margin-top: 5px;
    width: 100%;
    /* border: 1px solid blue */
}

.vertical>* {
    display: block;
    width: 100%;
}

.alert {
    background-color: white;
    padding: 5px;
    box-shadow: 
         inset 0 -3em 3em rgba(255, 139, 139, 0.1), 
               /* 0 0  0 2px rgb(255,255,255), */
               0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.alert-txt {
    padding: inherit;
    color: red;
    font-size: small;

}
.horizontal {
    float: left;
    /* border: 1px solid green */
}

.horizontal * {
    display: inline-block;
    margin-left: 10px;
}


/* clusters panel styles */

.ui-table{
    background-color: white;
    float:left;
    margin-left: 4px;
    border: 1px solid;
}

.wrap {
    display: table;
    width: 100%;
    height: 100%; /* need to set height for this to work in Chrome */
  }
.cell-wrap {
    display: table-cell;
    vertical-align: top;
    height: 100%;
}