#mapid {
	height: 480px;
	/* width: 300px; */
}

.legend {
	padding-right: 15px;
	padding-left: 15px;
}

/* #displayArea {background:#fff; border:1px solid #ccc;padding:5px;float:left;width:auto;display:none;position:absolute;top:0} */
.focusArea {cursor:pointer;}